<script>
import Layout from '@shared-layouts/main'
export default {
  components: { Layout },
  props: {
    resource: {
      type: String,
      default: ''
    }
  }
}
</script>

<template>
  <Layout>
    <h1 :class="$style.title">
      404
      <span v-if="resource">
        {{ resource }}
      </span>
      Not Found
    </h1>
  </Layout>
</template>

<style lang="scss" module>
.title {
  text-align: center;
}
</style>
