<script>
import Layout from '@shared-layouts/main'
export default {
  components: { Layout }
}
</script>

<template>
  <Layout>
    <transition appear>
      <!-- <BaseIcon
        :class="$style.loadingIcon"
        name="sync"
        spin
      /> --> loading...
    </transition>
  </Layout>
</template>

<style lang="scss" module>
// @import '@design';
.loadingIcon {
  display: block;
  margin: 0 auto;
  &:global(.v-enter-active) {
    transition: opacity 1s;
  }
  &:global(.v-enter) {
    opacity: 0;
  }
}
</style>
