$brand-primary: <%= options.brand_color %>;
$primary: #475dcc;
$danger: #de3535;
$warning: #fbbf36;
$success: #04af5f;

$primary-dark: #394ba3;
$danger-dark: #b82c2c;
$warning-dark: #d4a12e;
$success-dark: #038a4b;

$primary-light: #5972eb;
$danger-light: #e35555;
$warning-light: #fcc956;
$success-light: #2cbc79;

$white: #fff;
$gray-lightest: #f9f9f9;
$gray-lighter: #f5f5f5;
$gray-light: #ebebeb;
$gray: #dedede;
$gray-dark: #999;
$gray-darkest: #373737;

$shade-8: rgba(0, 0, 0, 0.08);
$shade-24: rgba(0, 0, 0, 0.24);
$shade-56: rgba(0, 0, 0, 0.56);

$tint-8: rgba(255, 255, 255, 0.08);
$tint-24: rgba(255, 255, 255, 0.24);
$tint-56: rgba(255, 255, 255, 0.56);

$magenta: #c2185b;
$tango: #ff5722;
$purple: #9c27b0;
$lime: #8bc34a;
$cyan: #00bcd4;
$bahama: #29617d;
$meteorite: #323e48;

$magenta-dark: #9c1349;
$tango-dark: #d4532a;
$purple-dark: #7a1f8a;
$lime-dark: #6f9c3b;
$cyan-dark: #009aad;
$bahama-dark: #1c4357;

$magenta-light: #eb2f79;
$tango-light: #ff835c;
$purple-light: #c55ed6;
$lime-light: #a4e05e;
$cyan-light: #13d9f2;
$bahama-light: #327fa6;
