$system-default-font-family: 'Open Sans', Arial, sans-serif;

$heading-font-family: $system-default-font-family;
$heading-font-weight: 300;

$content-font-family: $system-default-font-family;
$content-font-weight: 400;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
}
