@import '@design';
/*************************************
  Font Imports
*************************************/

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-300.woff2')
      format('woff2'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-300.woff')
      format('woff');
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-regular.woff2')
      format('woff2'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-regular.woff')
      format('woff');
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-italic.woff2')
      format('woff2'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-italic.woff')
      format('woff');
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-600.woff2')
      format('woff2'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-600.woff')
      format('woff');
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-700.woff2')
      format('woff2'),
    url('~@assets/open-sans-v15-latin/open-sans-v15-latin-700.woff')
      format('woff');
}

/* maven-pro-500 - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Maven Pro Medium'), local('MavenPro-Medium'),
    url('~@assets/maven-pro-v11-latin/maven-pro-v11-latin-500.woff2')
      format('woff2'),
    url('~@assets/maven-pro-v11-latin/maven-pro-v11-latin-500.woff')
      format('woff');
}

/*************************************
  Global Styles
*************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  @extend %font-content;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  @extend %font-heading;

  color: $gray-darkest;
}

h6,
.h6,
p {
  @extend %font-content;

  color: $gray-darkest;
}

i,
em {
  font-style: italic;
  font-weight: 400;
}
