<script>
import TheTopbar from '@components/the-topbar'
import {
  FwcWrapper,
  FwcSidebar,
  FwcSidebarMenuItem
} from 'fracweb-vue-components'
export default {
  components: {
    TheTopbar,
    FwcWrapper,
    FwcSidebar,
    FwcSidebarMenuItem
  },
  computed: {
    sidebarState() {
      return this.$store.state.ui.sidebarCollapsed
    },
    menu() {
      return this.$store.state.ui.menu
    }
  },
  methods: {
    toggleSidebar() {
      return this.$store.dispatch('ui/toggleSidebar')
    },
    expandMenuItem({ id, expanded }) {
      this.$store.dispatch('ui/toggleMenuChildren', {
        id: id,
        expanded: expanded
      })
    }
  }
}
</script>

<template>
  <fwc-wrapper>
    <fwc-sidebar
      logo="<%= options.product_acronym %>"
      :closed="sidebarState"
      :menu="menu"
      brand-color="<%= options.brand_color %>"
      @toggle-sidebar="toggleSidebar"
      @toggle-menu-item="(val) => expandMenuItem(val)">
        <template slot="bottomMenu">
          <fwc-sidebar-menu-item
            :item="{name: 'Settings', path: '/settings', iconPath: require('@assets/svg/cog.svg')}"
            :sidebar-closed="sidebarState"
            :style-location="true"
          >
            Settings
          </fwc-sidebar-menu-item>
          <fwc-sidebar-menu-item
            :item="{name: 'InternalAdmin', path: 'internalAdmin', iconPath: require('@assets/svg/account.svg')}"
            :sidebar-closed="sidebarState"
            :style-location="true"
          >
            Internal Administrator
          </fwc-sidebar-menu-item>
        </template>
      </fwc-sidebar>
    <div :class="$style.contentColumn">
      <TheTopbar />
      <div :class="$style.content">
        <slot/>
      </div>
    </div>
  </fwc-wrapper>
</template>

<style lang="scss" module>
@import '@design';

.content {
  height: 100%;
  padding: 8px;
  overflow: auto;
  background-color: $gray-light;

  @media (min-width: 960px) {
    padding: 16px;
  }

  @media (min-width: 1280px) {
    padding: 24px;
  }

  @media (min-width: 1920px) {
    padding: 32px;
  }
}

.contentColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
</style>
