<template>
  <div
    id="app">
    <router-view :key="$route.fullPath"/>
  </div>
</template>

<script>
export default {}
</script>


<!-- This should generally be the only global CSS in the app. -->

<style lang="scss">
// Normalize default styles across browsers,
// https://necolas.github.io/normalize.css/
@import '~normalize.css/normalize.css';
// Style loading bar between pages.
// https://github.com/rstacruz/nprogress
@import '~nprogress/nprogress.css';
@import '~fracweb-vue-components/dist/index.css';
// Design variables and utilities from src/design.
@import '@design';
@import '@globals';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// =============
// Vendor
// =============
#nprogress .bar {
  background: $brand-primary;
}
</style>
