<template>
  <div :class="[$style.hello]">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: {
      type: String,
      default: 'Hey Fractal!'
    }
  }
}
</script>

<style lang="scss" module>
@import '@design';

.hello {
  background: grey;
}
</style>
