<template>
  <div :class="$style.theTopbar"><slot /></div>
</template>

<script>
export default {
  name: 'TheTopbar'
}
</script>


<style lang="scss" module>
.theTopbar {
  width: 100%;
  min-height: 60px;
  max-height: 60px;
}
</style>
